<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>/home/wyli</title>
        <link href="/dist/style.css" rel="stylesheet">
        <script src="/dist/htmx.min.js"></script>
    </head>
    <body class="bg-white text-black prose mx-2 dark:bg-black-dark dark:text-white-dark">
        <h1 class="text-black dark:text-white">echo <u>~</u> /home/wyli</h1>
        <p class="text-purple dark:text-purple-dark">welcome to my website, theres alot to come</p>

        <div class="my-4 text-white">
            <span>counter: </span>
            <span id="counter"
                  hx-get="/api/counter"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                  class="font-serif">0</span>

            <button hx-post="/api/counter"
                    hx-target="#counter"
                    class="ml-2 px-4 py-2 bg-blue-500 text-red rounded hover:bg-blue-600">
                +1
            </button>
        </div>
    </body>
</html>
