{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="flex flex-col justify-center h-full">
    <h1 class="text-xl text-blue-500">home</h1>
    <hr class="border-gray-700 w-full max-w-md mx-auto">
    <div class="space-y-2">
        <h1 class="text-2xl font-mono text-gray-400">echo ~ /home/wyli</h1>
        <p class="text-lg text-gray-400">wylited</p>
        <p class="text-lg text-gray-400">dhairya</p>
        <p class="text-lg text-gray-400">International Baccalaureate 'm25</p>
        <p class="text-sm text-gray-500">Math AA Hl, Physics Hl, Comp Sci Hl, Econ Hl</p>
    </div>
    <div>
        <h2 class="text-xl text-gray-300 underline">blogs</h2>
        <div class="flex justify-center space-x-8 mt-4">
            <div class="text-center">
                <div class="text-5xl font-bold text-amber-400">Δ</div>
                <p class="mt-2 text-gray-400">2023</p>
            </div>
            <div class="text-center">
                <div class="text-5xl font-bold text-purple-400">Φ</div>
                <p class="mt-2 text-gray-400">2024</p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-xl text-gray-300 underline">quick links</h2>
        <div class="space-y-2 mt-4">
            <p class="flex justify-center space-x-4 text-gray-400">
                <span>← notes →</span>
            </p>
            <p class="flex justify-center space-x-4 text-gray-400">
                <span>← blogs →</span>
            </p>
            <p class="flex justify-center space-x-4 text-gray-400">
                <span>← 1shot →</span>
            </p>
            <p class="flex justify-center space-x-4 text-gray-400">
                <span>← prjct →</span>
            </p>
            <p class="flex justify-center space-x-4 text-gray-400">
                <span>← about →</span>
            </p>
        </div>
    </div>
</div>
{% endblock %}
