<div class="flex justify-between items-center mb-1">
    <div class="content-center">
        <h2 class="text-left text-purple font-mono dark:text-purple-dark">
            $ pwd >
            <button hx-get="/home.html"
                    hx-target="#content"
                    >/home/wyli</button>
        </h2>
    </div>
    <div class="text-center font-mono">
        <audio id="audio" src="dist/wheni226.mp3" loop></audio>
        <p>
            <button id="audioBtn" onclick="togglePlay()"></button>
            When I 226
            <button id="themeBtn" onclick="toggleTheme()"></button>
        </p>
    </div>
</div>
<div class="border-y border-black dark:border-white-dark text-center py-4">
    <p class="text-3xl">wylited</p>
    <p class="text-white dark:text-black-dark">dhairya</p>
    <p>International Baccalaureate 'm25</p>
    <p class="text-white dark:text-black-dark">Math AA Hl, Physics Hl, Comp Sci Hl, Econ Hl</p>
    <h2 class="text-2xl text-yellow underline dark:text-yellow-dark py-2">quick links</h2>
    <p class="font-mono"><~~ <button hx-get="/prose.html" hx-target="#content">prose</button> ~~></p>
    <p class="font-mono"><~~ <button>notes</button> ~~></p>
    <p class="font-mono"><-< <button>github</button> >-></p>
    <p class="font-mono"><=< <button>projects</button> >=></p>
</div>
