<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>/home/wyli</title>
        <link href="/css/style.css" rel="stylesheet">
        <script src="/js/htmx.min.js"></script>
    </head>
    <body class="bg-gray-100 prose mx-2">
        <h1>echo ~ </br>/home/wyli</h1>
        <p>welcome to my website, theres alot to come</p>

        <div class="my-4">
            <span>counter: </span>
            <span id="counter"
                  hx-get="/api/counter"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                  class="font-mono">0</span>

            <button hx-post="/api/counter"
                    hx-target="#counter"
                    class="ml-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                +1
            </button>
        </div>
    </body>
</html>
