@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-black dark:text-white;
  }
  h1 {
    @apply text-black dark:text-white;
  }
  h2 {
    @apply text-black dark:text-white;
  }
  span {
    @apply text-black dark:text-white;
  }

}

@layer components {
  button {
    @apply text-blue dark:text-blue-dark; /* Base styles for all buttons */
    transition: color 0.3s; /* Smooth transition for hover effect */
  }

  button:hover {
    @apply text-red dark:text-red-dark; /* Change text color on hover */
  }

  a {
    @apply text-blue dark:text-blue-dark; /* Base styles for all buttons */
    transition: color 0.3s; /* Smooth transition for hover effect */
  }

  a:hover {
    @apply text-red dark:text-red-dark; /* Change text color on hover */
  }

  .nav {
    @apply text-green dark:text-green-dark underline;
    transition: color 0.3s;
  }

  .nav:hover {
    @apply text-orange dark:text-orange-dark;
  }
}

@font-face {
  font-family: "JetBrainsMono Nerd Font";
  font-style: normal;
  font-weight: 300;
  src: url('https://wylited.vercel.app/dist/JetBrainsMonoNerdFont-Light.woff2').format('woff2');
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Lexend&display=swap').format('truetype');
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap').format('truetype');
}
