@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-black dark:text-white;
  }
  h1 {
    @apply text-black dark:text-white;
  }
  h2 {
    @apply text-black dark:text-white;
  }
  span {
    @apply text-black dark:text-white;
  }

}

@layer components {
  .link {
    @apply text-blue dark:text-blue-dark; /* Base styles for all buttons */
    transition: color 0.3s; /* Smooth transition for hover effect */
  }

  .link:hover {
    @apply text-red dark:text-red-dark; /* Change text color on hover */
  }


  .nav {
    @apply text-green dark:text-green-dark underline;
    transition: color 0.3s;
  }

  .nav:hover {
    @apply text-orange dark:text-orange-dark;
  }

  fieldset {
    transition: all 1s ease-out;
    transform-origin: center;
    overflow: hidden;
    margin: 0 auto;
  }

  fieldset.htmz-exit {
    max-height: 0;
    opacity: 0;
    transform: scale(0.95);
  }

  fieldset.htmz-enter {
    max-height: fit-content;
    opacity: 1;
    transform: scale(1);
  }

  .underline-30 {
    position: relative;
    display: inline-block;
  }
  .underline-30::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%; /* Change this to adjust the percentage */
    height: 2px; /* Thickness of the underline */
    background: black; /* Color of the underline */
  }
  .text-switch {
    /* position: relative; */
    /* display: inline-block; */
    cursor: pointer;
  }

  .text-switch .text-original,
  .text-switch .text-hover {
    transition: opacity 0.3s ease;
    /* position: absolute; */
    top: 0;
    left: 0;
  }
  .text-switch .text-hover {
    opacity: 0;
  }
  .text-switch:hover .text-original {
    opacity: 0;
  }
  .text-switch:hover .text-hover {
    opacity: 1;
  }
}

@font-face {
    font-family: 'firacode';
    src: url('https://www.programmingfonts.org/fonts/resources/firacode/firacode.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

* {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: normal;
}
