<div class="flex justify-between items-center">
    <div class="content-center">
        <h2 class="text-left text-purple font-mono dark:text-purple-dark">
            $ pwd > <button class="nav" hx-get="/home.html" hx-target="#content">home/</button><button class="nav" hx-get="/projects.html" hx-target="#content">projects/</button>
        </h2>
    </div>
    <div class="text-center font-mono">
        <audio id="audio" src="dist/wheni226.mp3" loop></audio>
        <p>
            <button id="audioBtn" onclick="togglePlay()"></button>
            When I 226
            <button id="themeBtn" onclick="toggleTheme()"></button>
        </p>
    </div>
</div>
<div class="border-y border-black dark:border-white-dark text-center py-4">
    <p class="text-3xl">Projects I've developed</p>
</div>
